
     html {
      font-family: "Raleway", sans-serif;
    }
    body {

        background-color: #6a45457f;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

     .container {

        display: flex;
        
        justify-content: space-around;
        
         width: 100%;
        
     }

     .card{

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px;
        /* padding: 20px; */
        text-align: center;
        width: 300px;
        /* max-width: 100%; */
        
        
     }

     .card img {
        width: 100%;
        height: auto;
        border-radius: 10px;
     }

     .price {

        font-size: 20px;
        color: #333;
        margin: 10px 0;
     }
     
     .btn {

        background-color: #ff6f20;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        /* transition: background-color 0.3s; */
        margin-bottom: 15px;
     }

     .btn:hover {

        background-color: #e65c1f;
      }
       
      @media (max-width: 600px) {

           .container {
              display: flex;
               flex-direction: column;
               justify-content: space-around;
               max-width: 800px;
               gap: 50px;
               align-items: center;
          }

          .card{

              padding: 30px;
              
              
          }

          .price {

              font-size: 24px;
          }
           
          .btn {

              padding: 12px;
          } 
      } 
     